
/*       Landing page               */

body{
    border: #DE1B1B 0.5em solid;  
}

/* Color style applied to the span element Concrete */
.company-name{
    color: #E9E581;
}

/* background of the header */
.header{
    background-color: #F6F6F6
}
/* background of the main body */
.main{
    background-color: #2B2B2B;
    
 /* background of the footer */   
}
.footer{
    background-color: #F6F6F6;
}

.navbar-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Crete Round', serif;

}

.nav-items{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.nav-item{
    padding: 1em;
    list-style-type: none;
    flex: 1 1 150px;
}

.nav-item a{
    text-decoration: none;
    text-transform: uppercase;
    color: #2B2B2B;

}
/* setting the background image for the showcase  */
.showcase{
    background:url("../pictures/showcase.jpg") center center no-repeat;
    background-size: cover;
    width: 100%;
    max-height: 400px;
    height: 400px;

}

 /*    */
.team{
    background-color: #2B2B2B;
    color:#F6F6F6;
}
 /*    */
.members{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
 /* Applying color, alignment, font-family and font size to text headers,    */
.team-header, .bio-header, .jobs-header{

    color: #F6F6F6;
    text-align: center;
    margin: 0;
    font-family: 'Crete Round', serif;
    font-size: 3em;
}
 /*    */
.member{
    flex: 1 1 330px;
    text-align: center;
    font-family: 'Crete Round', serif;
    font-size: 2em;
}

.bio-containers{   /*  biggest container in section  */
    display: flex;
    flex-wrap: wrap;
}

.bio-container{          /*short bio description font, font-family, font-size and color */
    flex: 1 1 500px;
    font-family: 'Crete Round', serif;
    font-size: 1.5em;
    color: #F6F6F6;
    
}

.video-container video{    /*  video frame */
    max-width: 500px;
    width: 100%;
    height: auto;
}
 /* background and flex box for the footer   */
.footer{
    display: flex;
    flex-wrap: wrap;
    color: #2B2B2B;

}

.footer-part{
    flex: 1 1 500px;
}

 /*  subscribe form from the footer  */
.form{
    
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}



 /*  Media queries apply if the screen is smaller than 600px  */
@media all and (max-width:600px){
body{
    border: 0.5em solid #E9E581; /* --border color of the screen */
}
.company-name{
    color: #DE1B1B; /*  --color of the company logo   */
}
.bio-container{
    font-size: 0.5em; /* --change the font of the bio description   */
}

.glossary{
    font-size: 1em;
    padding: 0;
    margin:0;
}
}




/*                 JOBS                                    */



.jobs-header{

    color: #F6F6F6;
    text-align: center;
    margin: 0;
    font-family: 'Crete Round', serif;
    font-size: 3em;
}


.job-containers{   /*  biggest container in section  */
    display: flex;
    flex-wrap: wrap;
    margin: 1em;
}

.job-container{          /*text */
    flex: 1 1 500px;
    border: 1px solid #DE1B1B;
    font-family: 'Crete Round', serif;
    font-size: 2em;
    color: #F6F6F6;
    padding: 1.5em;
}

.jobs{
    display: flex;
    flex-wrap: wrap;
    font-size: 1em;
    
}

.job-1{
   color: #F6F6F6;
   padding: 1em;
   font-size: 1.5em;

 
}




/*      Resources          */
    


.resources-main{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* Applies for the header in the section tag */
.res-header{
    color: #F6F6F6;
    font-family: 'Crete Round', serif;
    font-size: 4em;
    text-align: center;
    margin: 0;
}

.containers-resources{
    font-size: 2em;
    padding: 1em;
    color: #F6F6F6;

}

.resource{
    padding: 1em;
    margin:2em;
    color: #F6F6F6;
    font-size: 2em; 
    border: #DE1B1B 3px solid;

}


.aside{
    color: #E9E581;
    font-size: 2em; 
}




/*     Glossary        */


.glossary-main{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.glossary-header{
    color: #F6F6F6;
    font-family: 'Crete Round', serif;
    font-size: 4em;
    text-align: center;
    margin: 0;
}

.glossary{
    padding: 1em;
    margin:2em;
    color: #F6F6F6;
    font-size: 2em; 
    border: #DE1B1B 3px solid;
}


/*   Good Practice   */



/*  styles apply to the header  */
.practice-header{
    color: #F6F6F6;
    font-family: 'Crete Round', serif;
    font-size: 4em;
    text-align: center;
    margin: 0;
}


/*  styles apply to text  */
.practice-article{
    padding: 1em;
    margin:2em;
    color: #F6F6F6;
    font-size: 1.5em; 
    
}



/*    Log     */

.log-main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1 1 400px;
    
}

.practices{
    display: flex;
    flex-direction: column;
    color: #F6F6F6;
    font-size: 1em;
}